.empresa-perfil-navlink {
  display: contents;
}

.empresa-perfil-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.empresa-perfil-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empresa-perfil-image {
  width: 299px;
  height: 50%;
  object-fit: cover;
}
.empresa-perfil-container02 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 843px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.empresa-perfil-navlink2 {
  color: rgb(255, 255, 255);
  width: 61px;
  height: 58px;
  display: flex;
  padding: 0px;
  font-size: 0px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  border-color: var(--dl-color-multitaskpalette-morado);
  border-width: 2px;
  border-radius: 27px;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(87, 24, 69);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.empresa-perfil-navlink2:hover {
  color: #571845;
  width: 173px;
  font-size: 20px;
  height: 58px;
  border-color: #571845;
  border-width: 2px;
  background-color: #ffffff;
}

.empresa-perfil-navlink2:hover .empresa-perfil-icon{
  display:none;
}

.empresa-perfil-icon {
  fill: var(--dl-color-gray-white);
  width: 30px;
  height: 30px;
  align-self: center;
}
.empresa-perfil-icon3 {
  width: 24px;
  height: 24px;
}
.empresa-perfil-container03 {
  width: 100%;
  height: 1349px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: 168px;
  padding-right: 168px;
  flex-direction: column;
  padding-bottom: 168px;
  justify-content: flex-start;
}
.empresa-perfil-container04 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-color: var(--dl-color-multitaskpalette-amarillo);
}
.empresa-perfil-container05 {
  gap: 40px;
  width: 100%;
  height: 1193px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.empresa-perfil-container06 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 1187px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.empresa-perfil-image1 {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.empresa-perfil-container07 {
  flex: 0 0 auto;
  width: 786px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.empresa-perfil-container08 {
  gap: var(--dl-space-space-unit);
  width: 786px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.empresa-perfil-text {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.empresa-perfil-text1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.empresa-perfil-text2 {
  font-size: 24px;
}
.empresa-perfil-text3 {
  font-size: 24px;
}
.empresa-perfil-text4 {
  font-size: 24px;
}
.empresa-perfil-container09 {
  width: 1187px;
  height: 650px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.tab{
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  width: auto;
  height: auto;
}

.tab:hover{
  font-style: normal;
  font-weight: 700;
}

.tab:focus{
  color: rgb(87, 24, 69);
  font-style: normal;
  font-weight: 700;
}

/*.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
}
*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* Aplicar un desenfoque al fondo */
  z-index: 9998; /* Asegura que la capa esté detrás del popup */
}

.popup {
  position: fixed; /* Fija el popup en la ventana del navegador */
  top: 50%; /* Coloca el popup en la mitad vertical de la ventana */
  left: 50%; /* Coloca el popup en la mitad horizontal de la ventana */
  transform: translate(-50%, -50%); /* Centra el popup */
  z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */
  background-color: white; /* Color de fondo del popup */
  padding: 20px; /* Espaciado interior del popup */
  border-radius: 10px; /* Radio de borde del popup */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del popup */
  width: 90vw; /* El popup ocupará el 90% del ancho de la ventana */
  max-width: 600px; /* Establece un ancho máximo para el popup */
  max-height: 95vh; /* Establece una altura máxima para el popup */
  overflow-y: auto;
}

.popup3 {
  position: fixed; /* Fija el popup en la ventana del navegador */
  top: 50%; /* Coloca el popup en la mitad vertical de la ventana */
  left: 50%; /* Coloca el popup en la mitad horizontal de la ventana */
  transform: translate(-50%, -50%); /* Centra el popup */
  z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */
  background-color: white; /* Color de fondo del popup */
  padding: 20px; /* Espaciado interior del popup */
  border-radius: 10px; /* Radio de borde del popup */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del popup */
  width: 90vw; /* El popup ocupará el 90% del ancho de la ventana */
  max-width: 600px; /* Establece un ancho máximo para el popup */
  max-height: 95vh; /* Establece una altura máxima para el popup */
  overflow-y: auto;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.mostrar {
  display: block !important; /* Asegúrate de usar !important para anular cualquier otra regla display */
}

.contenedores-de-modales-de-admin-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedores-de-modales-de-admin-text {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.contenedores-de-modales-de-admin-icon {
  width: 40px;
  height: 40px;
  align-self: flex-start;
  cursor: pointer;
}
.contenedores-de-modales-de-admin-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedores-de-modales-de-admin-button {
  color: var(--dl-color-gray-500);
  width: 131px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
}
.contenedores-de-modales-de-admin-button:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-500);
}
.contenedores-de-modales-de-admin-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-500);
}
.contenedores-de-modales-de-admin-button1 {
  color: var(--dl-color-multitaskpalette-naranja);
  width: 140px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-multitaskpalette-naranja);
  border-radius: 20px;
}
.contenedores-de-modales-de-admin-button1:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-multitaskpalette-naranja);
}
.contenedores-de-modales-de-admin-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-multitaskpalette-naranja);
}

.contenedores-de-modales-empresa-perfil-container11 {
  gap: var(--dl-space-space-halfunit);
  width: 269px;
  height: 318px;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-multitaskpalette-gris);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #ffffff;
}
.contenedores-de-modales-empresa-perfil-container11:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.contenedores-de-modales-empresa-perfil-text14 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.contenedores-de-modales-empresa-perfil-icon {
  fill: var(--dl-color-multitaskpalette-rojo);
  right: var(--dl-space-space-unit);
  width: 30px;
  bottom: var(--dl-space-space-unit);
  height: 30px;
  position: absolute;
  transition: 0.3s;
}
.contenedores-de-modales-empresa-perfil-icon:hover {
  fill: #f15984;
  width: 30px;
}
.contenedores-de-modales-empresa-perfil-button1 {
  color: var(--dl-color-multitaskpalette-naranja);
  width: 131px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-multitaskpalette-naranja);
  border-radius: 20px;
}
.contenedores-de-modales-empresa-perfil-button1:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-multitaskpalette-naranja);
}
.contenedores-de-modales-empresa-perfil-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-multitaskpalette-naranja);
}
.contenedores-de-modales-empresa-perfil-button2 {
  color: var(--dl-color-success-700);
  width: 131px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-success-700);
  border-radius: 20px;
}
.contenedores-de-modales-empresa-perfil-button2:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
.contenedores-de-modales-empresa-perfil-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
.contenedores-de-modales-empresa-perfil-container12 {
  gap: var(--dl-space-space-unit);
  width: 1487px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.contenedores-de-modales-empresa-perfil-container13 {
  width: 1280px;
  height: 631px;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: 38px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.contenedores-de-modales-empresa-perfil-container14 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 38px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #eeeeee;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.contenedores-de-modales-empresa-perfil-text16 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 25px;
  align-self: flex-end;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-container15 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 4px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contenedores-de-modales-empresa-perfil-button3 {
  color: var(--dl-color-success-700);
  width: 131px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-success-700);
  border-radius: 20px;
}
.contenedores-de-modales-empresa-perfil-button3:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
.contenedores-de-modales-empresa-perfil-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-700);
}
.contenedores-de-modales-empresa-perfil-container16 {
  gap: var(--dl-space-space-unit);
  width: 1568px;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.contenedores-de-modales-empresa-perfil-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.contenedores-de-modales-empresa-perfil-text17 {
  fill: var(--dl-color-multitaskpalette-rojo);
  color: var(--dl-color-multitaskpalette-rojo);
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.contenedores-de-modales-empresa-perfil-text18 {
  width: 183px;
  height: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  padding-top: 3px;
}
.contenedores-de-modales-empresa-perfil-icon2 {
  top: var(--dl-space-space-twounits);
  right: var(--dl-space-space-twounits);
  width: 40px;
  height: 40px;
  position: absolute;
  align-self: flex-start;
  cursor: pointer;
}
.contenedores-de-modales-empresa-perfil-text21 {
  height: auto;
}
.contenedores-de-modales-empresa-perfil-text22 {
  width: 183px;
  height: auto;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text25 {
  height: auto;
}
.contenedores-de-modales-empresa-perfil-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-multitaskpalette-amarillo);
}
.contenedores-de-modales-empresa-perfil-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text26 {
  width: 183px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text29 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
.contenedores-de-modales-empresa-perfil-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text32 {
  width: 183px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text35 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
.contenedores-de-modales-empresa-perfil-container21 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contenedores-de-modales-empresa-perfil-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text38 {
  width: 183px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text41 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
.contenedores-de-modales-empresa-perfil-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text44 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text47 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
.contenedores-de-modales-empresa-perfil-container24 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.contenedores-de-modales-empresa-perfil-text50 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.contenedores-de-modales-empresa-perfil-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text53 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text56 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
.contenedores-de-modales-empresa-perfil-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.contenedores-de-modales-empresa-perfil-text59 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.contenedores-de-modales-empresa-perfil-text62 {
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  text-align: left;
}
@media(max-width: 1600px) {
  .contenedores-de-modales-empresa-perfil-button2 {
    color: var(--dl-color-success-700);
  }
  .contenedores-de-modales-empresa-perfil-button3 {
    color: var(--dl-color-success-700);
  }
}

.popup-formCenter{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}