.autenticacin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.autenticacin-container1 {
  width: 100%;
  height: 1019px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(255, 199, 1, 0.2) 45.00%,rgba(255, 71, 31, 0.2) 100.00%),url('https://cdn.euroinnova.edu.es/img/subidasEditor/9-1608491715.webp');
  background-repeat: top left,top lefttop lefttop;
  background-position: top lefttop lefttop,bottom;
}
.autenticacin-navlink {
  display: contents;
}
.autenticacin-icon {
  top: 0px;
  fill: #ffffff;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  text-decoration: none;
}
.autenticacin-container2 {
  gap: 0;
  flex: 0 0 auto;
  width: 510px;
  height: 456px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.70);
}
.autenticacin-navlink1 {
  display: contents;
}
.autenticacin-image {
  width: 347px;
  height: 79px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.autenticacin-text {
  font-size: 20px;
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.autenticacin-text1 {
  font-weight: 400;
}
.autenticacin-text2 {
  font-style: normal;
}
.autenticacin-text5 {
  font-style: normal;
  font-weight: 400;
}
.autenticacin-textinput {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 22px;
  border-color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
}
.autenticacin-text7 {
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 400;
}
.autenticacin-navlink2 {
  color: rgb(255, 255, 255);
  width: 196px;
  height: 54px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: 28px;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  padding-top: 10px;
  border-color: var(--dl-color-multitaskpalette-rojo);
  border-width: 2px;
  border-radius: 20px;
  animation-delay: 0s;
  text-decoration: none;
  background-color: var(--dl-color-multitaskpalette-rojo);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.autenticacin-navlink2:hover {
  color: var(--dl-color-multitaskpalette-rojo);
  width: 173px;
  height: 54px;
  font-size: 20px;
  padding-top: 14px;
  border-color: var(--dl-color-multitaskpalette-rojo);
  border-width: 2px;
  background-color: #ffffff;
}
