.admin2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.table-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow: auto;
}

.admin2-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin2-image {
  width: 299px;
  height: 50%;
  object-fit: cover;
}
.admin2-container2 {
  flex: 0 0 auto;
  width: 843px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.admin2-navlink {
  color: rgb(255, 255, 255);
  width: 61px;
  height: 58px;
  display: flex;
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  align-items: center;
  font-weight: 700;
  border-color: var(--dl-color-multitaskpalette-morado);
  border-width: 2px;
  border-radius: 27px;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(87, 24, 69);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.admin2-navlink:hover {
  color: #571845;
  width: 173px;
  height: 58px;
  border-color: #571845;
  border-width: 3px;
  background-color: #ffffff;
}
.admin2-icon {
  fill: var(--dl-color-gray-white);
  width: 100%;
  height: 49px;
  align-self: center;
}
.admin2-container3 {
  width: 100%;
  height: 898px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 140px;
  padding-left: 168px;
  padding-right: 168px;
  flex-direction: column;
  padding-bottom: 168px;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(199, 0, 57) 38.00%,rgb(255, 71, 31) 99.00%);
  background-repeat: top lefttop lefttop;
  background-position: top lefttop lefttop,bottom;
}
.admin2-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 670px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.admin2-text {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.admin2-text1 {
  font-size: 20px;
  font-style: normal;
  margin-top: 2px;
  font-weight: 400;
}
.admin2-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin2-container6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
}
.admin2-navlink1 {
  width: 276px;
  font-size: 20px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-multitaskpalette-amarilloosc);
}
.admin2-text2 {
  width: 276px;
  font-size: 20px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-multitaskpalette-amarilloclar);
}
.admin2-navlink2 {
  width: 276px;
  font-size: 20px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-multitaskpalette-amarilloosc);
}
.admin2-navlink3 {
  width: 276px;
  font-size: 20px;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-multitaskpalette-amarilloosc);
}
.admin2-container7 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-multitaskpalette-amarilloclar);
  border-style: solid;
  border-width: 6px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}

.icons-container{
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 10px;
}

.icons-container > svg {
  cursor: pointer;
}

.admin2-text3 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.admin2-text4 {
  font-size: 32px;
}
.admin2-container8 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 296px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contenedores-de-modales-de-admin-icon08 {
  fill: var(--dl-color-danger-700);
  width: 33px;
  height: 34px;
  transition: 0.3s;

}
.contenedores-de-modales-de-admin-icon08:hover {
  fill: var(--dl-color-danger-300);
}
.contenedores-de-modales-de-admin-icon10 {
  fill: var(--dl-color-success-500);
  width: 28px;
  height: 31px;
  transition: 0.3s;

}
.contenedores-de-modales-de-admin-icon10:hover {
  fill: var(--dl-color-success-300);
}
.contenedores-de-modales-de-admin-icon12 {
  fill: var(--dl-color-primary-300);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  cursor: pointer;
}
.contenedores-de-modales-de-admin-icon12:hover {
  fill: var(--dl-color-primary-100);
}
.contenedores-de-modales-de-admin-icon14 {
  fill: var(--dl-color-primary-300);
  width: 24px;
  height: 24px;
  transition: 0.3s;
  cursor: pointer;
}
.contenedores-de-modales-de-admin-icon14:hover {
  fill: var(--dl-color-primary-100);
}

.contenedores-de-modales-de-admin-container06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 530px;
  height: 147px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 38px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3); 
}

.contenedores-de-modales-de-admin-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedores-de-modales-de-admin-text03 {
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  margin-left: 15%; /* Porcentaje ajustable según tu diseño */
  margin-top: 1%; /* Ajusta el desplazamiento vertical */
  transform: translate(-15%, -1%);
}

.contenedores-de-modales-de-admin-icon04 {
  width: 60px;
  height: 60px;
  align-self: flex-start;
  cursor: pointer;
  margin-right: 1%; 
  transform: translate(-1%);
}

.contenedores-de-modales-de-admin-container08 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedores-de-modales-de-admin-button2 {
  color: var(--dl-color-gray-500);
  width: 131px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  margin-top: -2%; /* Ajusta el desplazamiento vertical */
  transform: translate(2%);
}
.contenedores-de-modales-de-admin-button2:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-500);
}
.contenedores-de-modales-de-admin-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-500);
}
.contenedores-de-modales-de-admin-button3 {
  color: var(--dl-color-success-500);
  width: 140px;
  height: 34px;
  transition: 0.3s;
  border-color: var(--dl-color-success-500);
  border-radius: 20px;
  margin-top: -2%; /* Ajusta el desplazamiento vertical */
  transform: translate(2%);
}
.contenedores-de-modales-de-admin-button3:focus {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-500);
}
.contenedores-de-modales-de-admin-button3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-success-500);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* Aplicar un desenfoque al fondo */
  z-index: 9998; /* Asegura que la capa esté detrás del popup */
}
.popup {
  position: fixed; /* Fija el popup en la ventana del navegador */
  top: 50%; /* Coloca el popup en la mitad vertical de la ventana */
  left: 50%; /* Coloca el popup en la mitad horizontal de la ventana */
  transform: translate(-50%, -50%); /* Centra el popup */
  z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */
  background-color: transparent; /* Color de fondo del popup */
  padding: 20px; /* Espaciado interior del popup */
  border-radius: 10px; /* Radio de borde del popup */
  /* Añade más estilos según sea necesario */
  width: 80vw; /* El popup ocupará el 90% del ancho de la ventana */
  max-width: 650px; /* Establece un ancho máximo para el popup */
  max-height: 95vh; /* Establece una altura máxima para el popup */
  overflow-y: auto;
  box-shadow: none;
}

.popup2 {
  position: fixed; /* Fija el popup en la ventana del navegador */
  top: 50%; /* Coloca el popup en la mitad vertical de la ventana */
  left: 50%; /* Coloca el popup en la mitad horizontal de la ventana */
  transform: translate(-50%, -50%); /* Centra el popup */
  z-index: 9999; /* Asegura que el popup esté por encima de otros elementos */
  background-color: transparent; /* Color de fondo del popup */
  padding: 20px; /* Espaciado interior del popup */
  border-radius: 10px; /* Radio de borde del popup */
  /* Añade más estilos según sea necesario */
  width: 80vw; /* El popup ocupará el 90% del ancho de la ventana */
  max-width: 1000px; /* Establece un ancho máximo para el popup */
  max-height: 95vh; /* Establece una altura máxima para el popup */
  overflow-y: auto;
  
}


.contenedores-de-modales-de-admin-container09 {
  gap: 4px;
  flex: 0 0 auto;
  width: 872px;
  height: 417px;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3); 
    align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 38px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contenedores-de-modales-de-admin-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.contenedores-de-modales-de-admin-text04 {
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.contenedores-de-modales-de-admin-container11 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.contenedores-de-modales-de-admin-container12 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 388px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text05 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
}
.contenedores-de-modales-de-admin-container13 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 388px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text06 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput1 {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
}
.contenedores-de-modales-de-admin-container14 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.contenedores-de-modales-de-admin-container15 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text09 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput2 {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
}
.contenedores-de-modales-de-admin-container16 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 526px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text10 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput3 {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
}
.contenedores-de-modales-de-admin-container17 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.contenedores-de-modales-de-admin-container18 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 526px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text13 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput4 {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
  color: gray;
}
.contenedores-de-modales-de-admin-container19 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contenedores-de-modales-de-admin-text14 {
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
}
.contenedores-de-modales-de-admin-textinput5 {
  width: 100%;
  height: 29px;
  border-width: 0px;
  padding-left: 0.5rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  background-color: #f2f2f2;
}
.contenedores-de-modales-de-admin-button4 {
  color: rgb(255, 255, 255);
  width: 208px;
  height: 54px;
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  font-weight: 700;
  border-color: var(--dl-color-multitaskpalette-morado);
  border-width: 2px;
  border-radius: 20px;
  animation-delay: 0s;
  background-color: var(--dl-color-multitaskpalette-morado);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  cursor: pointer;
}
.contenedores-de-modales-de-admin-button4:hover {
  color: var(--dl-color-multitaskpalette-morado);
  width: 208px;
  height: 54px;
  font-size: 20px;
  border-color: var(--dl-color-multitaskpalette-morado);
  border-width: 2px;
  background-color: #ffffff;
}
.contenedores-de-modales-de-admin-icon06 {
  top: var(--dl-space-space-twounits);
  right: var(--dl-space-space-twounits);
  width: 40px;
  height: 40px;
  position: absolute;
  align-self: flex-start;
  cursor: pointer;
}